*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
    padding: 2rem;
    border-radius: 15px;
    max-width: 500px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1{
   font-size: 2rem;
   margin-bottom: 10px;

}

.container p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.timeline{
    position:relative;
    margin: 20px 0;
    padding: 0;
}

.timeline:before {
    content: '';
    position: absolute; 
    width: 2px;
    background-color:black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }

  .item{
    margin-bottom: 0px;
    position: relative;
    width: calc(50% + 1px);
    padding-right: 20px;
    text-align: right;
  }


  .item .date{
    font-size: 0.9rem;
  color: gray;
  margin:0;
  }

  .item .changes{
    font-size: 1rem;
  border-radius: 8px;
  margin:0;
  padding: 10px;
  display: inline-block;
}
  

.item:nth-child(even){
    left: calc(50% - 1px);
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
}

.item:nth-child(even) .changes{
    margin-left: 0px;
}


.item:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -4px;
    background-color:black;
    border-radius: 50%;
    top: 10px;
  }

  .item:nth-child(even):before {
    left: -4px;
    right: auto;
  }



  .button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: gray;
  }